{
  "version": "2018-05-29",
  "method": "GET",
  "params": {
    "headers": {
      "Content-Type": "application/json",
      "Authorization": $util.toJson($util.defaultIfNullOrEmpty($context.request.headers.authorization, 'unauthorized')),
      "trace-id": $util.toJson($util.autoKsuid())
    }
  },
  "resourcePath": "/party",
}